@import '~antd/dist/antd.css';
.App {
  width:100%;
  min-width: 800px;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#eee;
  text-shadow: 0px 0px 2px #666,-1px -1px 2px #666;
  box-shadow: 0 5px 5px 1px rgba(177, 175, 175, 0.1);
}